@import url('http://fonts.cdnfonts.com/css/agustina');

:root{
    --primary-color:#4338ca;
    --dark-grey:#64748b;
    --light-blue:#a6e1fa;
    --light-grey:#f1f5f9;
    --white : #FFFFFF;
}

/**nav**/
.nav-bar{
    background-color: var(--primary-color);
    padding: 2rem;
    color: white;
}

.brand-name{
    float: left;
    font-size: x-large;
}

.no-bullet{
    list-style: none;    
}

.list-inline{
    display:inline;
}
.nav-bar .link{
    color: var(--white);
}

.nav-bar .active{
    font-weight: bold;
}

.nav-bar .nav-pills{
    text-align: right;   
}

.logo {
    color:var(--white);
    display: block;
    float: left;
    font-size: 1em;
    text-decoration: none;
    margin-top: 10px;
    line-height: normal;
}

.logo .logo-name{
    font-family: 'Agustina', 'Regular';
}
.nav-bar .link{
    font-size: large;
}
/**container**/

.container{
    padding: 1rem;
}

/**header**/

.home-img{
    max-width: 400px;
    display: block;
    margin: auto;
}
.home-heading{
    color: var(--dark-grey);
    text-align: center;
    padding: 1rem;
}
.heading-highlighted{
    color: var(--primary-color);
}

/**links**/
.link{
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.border-container{
    margin: auto;
    padding:1rem ;
    background-color: var(--light-grey);
    max-width: 700px;
    border-radius: 12px;
    border: outset;
    margin-bottom: 1rem;
}

.border-container-purple{
    margin: auto;
    padding:1rem ;
    background-color: var(--primary-color);
    max-width: 700px;
    border-radius: 12px;
    border: outset;
    color: var(--white);
    margin-bottom: 1rem;
}

.border-container-purple .link{
    color:var(--white);
    display: block;
    max-width: 90px;
    border:1px solid var(--white) ;
    border-radius:10px ;
}

.link-primary{
    display: block;
    max-width: 80px;
    border-radius: 10px;
    background-color: var(--dark-grey);
    border: 1px solid var(--white);  
    color:var(--white);
}